[*]
end_of_line = lf

[*.bat]
end_of_line = crlf

[*.kt]
# We often have block comments representing implementation details after KDocs.
# This feels like an acceptable commenting strategy
ktlint_standard_no-consecutive-comments = disabled

# Compose functions are named in PascalCase by convention
ktlint_function_naming_ignore_when_annotated_with = Composable